<div class='nested-fields'>
    <div class="row align-items-center">
      <%= form.hidden_field :_destroy %>
      <div class="col-6">
        <%= form.text_field :name, placeholder: 'Name', class: 'form-control' %>
      </div>
      <div class="col-auto">
        <div class="form-check">
          <%= form.check_box :correct, class: 'form-check-input' %>
          <%= form.label :correct, class: 'form-check-label' %>
        </div>
      </div>
      <div class="col-4">
        <small>
          <%= link_to 'Remove', '#', data: { action: "click->nested-form#remove_association" } %>
        </small>
      </div>
    </div>
</div>
