<div id="<%= dom_id question %>">
  <div class='row'>
    <div class='col'>
    <h4><%= question.name %></h4>

    <p>
      <% if question.slide.image? %>
        <%= image_tag question.slide_as_thumbnail %>
      <% end %>
      <% if question.slide.video? %>
        <%= video_tag question.slide.url, controls: true, width: 350, height: 350 %>
      <% end %>
    </p>
    </div>
    <div class='col'>
      <h4>Answers</h4>

      <ul class="list-group">
        <% question.answers.each do |answer| %>
          <% if answer.correct? %>
            <li class="list-group-item list-group-item-success"><%= answer.name %></li>
          <% else %>
            <li class="list-group-item list-group-item-danger"><%= answer.name %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class='row'>
    <div class='col-6'>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Introduction</h5>
          <h6 class="card-subtitle mb-2 text-muted">Additional informations to the question</h6>
          <p class="card-text"><%= question.introduction %></p>
        </div>
      </div>
    </div>
    <div class='col-6'>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Remarks</h5>
          <h6 class="card-subtitle mb-2 text-muted">Additional informations after the correct answer.</h6>
          <p class="card-text"><%= question.remarks %></p>
        </div>
      </div>
    </div>
  </div>
</div>
