<div id="<%= dom_id question %>">
  <p>
    <strong>Name:</strong>
    <%= question.name %>
  </p>

  <p>
    <%= image_tag question.slide_as_thumbnail %>
  </p>

  <h3>Answers</h3>

  <ul class="list-group">
    <% question.answers.each do |answer| %>
      <% if answer.correct? %>
        <li class="list-group-item list-group-item-success"><%= answer.name %></li>
      <% else %>
        <li class="list-group-item list-group-item-primary"><%= answer.name %></li>
      <% end %>
    <% end %>
  </ul>
</div>
