<div id="<%= dom_id race_edition %>">
  <p>
    <strong>Name:</strong>
    <%= race_edition.name %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= race_edition.slug %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= race_edition.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= race_edition.end_date %>
  </p>

</div>
