<div class="row mt-3">
  <div class="col-md-6">
    <h2 class="pb-4"><%= t('.sign_in') %></h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="mb-3">
	<%= f.label :email, class: "form-label" %>
	<%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? %>
	<div class="mb-3 form-check">
	  <%= f.check_box :remember_me, class: 'form-check-input' %>
	  <%= f.label :remember_me, class: 'form-check-label' %>
	</div>
      <% end %>

      <div class="mb-4 mt-4">
        <%= f.submit t('.sign_in'), class: "btn btn-primary", data: { turbo: false } %>
      </div>
    <% end %>
  </div>
  <div class="col-md-6">
    <div class="card text-dark bg-light mb-3 mt-3" >
      <div class="card-body">
        <h5 class="card-title">Information</h5>
        <p class="card-text">
          If you have an account already just type your e-mail address and you will receive a login link through email.
          <br/>
          You don't need a password then.
        </p>
        <p>
          If you doesn't have an account, then please first sign-up
          <%= link_to 'here', new_registration_path(resource_name) %>.
        </p>
      </div>
    </div>
  </div>
</div>
