
<%= simple_form_for(@puzzle) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :thumbnail, as: :file, label: false %>
    <%= f.input :en_phrase %>
    <%= f.input :it_phrase %>
    <%= f.input :body, as: :rich_text_area, label: false %>
  </div>

  <div class="form-actions mt-2">
    <%= f.button :submit, "Create Puzzle", class: "btn btn-success" %>
  </div>
<% end %>
