<p style="color: green"><%= notice %></p>

<%= render @puzzle %>

<div>
  <%= link_to "Edit this puzzle", edit_puzzle_path(@puzzle) %> |
  <%= link_to "Back to puzzles", puzzles_path %>

  <%= button_to "Destroy this puzzle", @puzzle, method: :delete %>
</div>
